@media only screen and (max-width: 700px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        font-size: 14px;
        text-align: center;
    }

    .header-icon {
        width: 70px;
    }

    .btn {
        width: 30vw;
    }

    .card-wrapper {
        width: 100%;
    }

    .card-wrapper__list {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .card {
        width: clamp(150px, 100%, 350px);
    }
}

@media only screen and (min-width: 2000px) {
    .app {
        font-size: xx-large;
    }

    .header-icon {
        width: 200px;
        margin-top: -3rem;
        margin-bottom: -3rem;
    }

    .btn {
        width: 300px;
    }

    .score-display {
        font-size: xx-large;
    }


    .card__img-wrapper {
        width: clamp(350px, 30vw, 500px);
        height: clamp(350px, 30vh, 500px);   
    }

    .card__img {
        padding: 1rem;
    }

}